<h2>Device » Room Mapping</h2>

<div *ngFor="let room of shared.rooms$  | async; let ix=index;">
	<input type="hidden" id="id_{{ix}}" value="{{room.id}}">
	<mat-form-field class="device-name">
		<input matInput type="text" id="device_{{ix}}" value="{{room.device_name}}">
    </mat-form-field>
	<mat-form-field class="room-name">
		<input matInput type="text" id="room_{{ix}}" value="{{room.room_name}}">
    </mat-form-field>

    <button mat-raised-button color="secondary" type="button" (click)="deleteRoom(room.id ?? 0)">
        <mat-icon>delete</mat-icon>
    </button>
</div>

<div>
	<mat-form-field class="device-name">
		<input matInput type="text" id="device_N" value="" placeholder="New Device Name">
    </mat-form-field>
    <mat-form-field class="room-name">
		<input matInput type="text" id="room_N" value="" placeholder="New Room Name">
  </mat-form-field>
</div>

<button mat-raised-button color="primary" type="submit" (click)="saveRooms()">Save</button>
