.spacer {
    flex: 1 1 auto;
}

#footer {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 2em;
    padding-right: 2em;

    background-color: white;
}

#text {
    font-weight: normal;
    font-size: 0.7em;
    line-height: 115%;
    padding-left: 2em;
}

#primary-toolbar {
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */;
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
  
  }