<mat-toolbar color="primary" id="primary-toolbar">

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" [matMenuTriggerFor]="appMenu" *ngIf="shared.showNav">
        <mat-icon>menu</mat-icon>
        <mat-menu #appMenu="matMenu">
            <button mat-menu-item routerLink="/stamp">Stamps</button>
            <button mat-menu-item routerLink="/event">Events</button>
            <button mat-menu-item routerLink="/room">Rooms</button>
        </mat-menu>
    </button>
    <span id="title">{{title}}</span>

    <span class="spacer"></span>
    <button mat-icon-button aria-label="Download Excel Sheet" (click)="downloadCsv()">
        <mat-icon>download_for_offline</mat-icon>
    </button>
</mat-toolbar>

<div id="container">
    <router-outlet></router-outlet>

    <div id="footer">
        <small>Version {{(shared.config$ | async)?.version}}</small>
    </div>


    <div [style]="showTestButtons">
        <hr size="1">
        <div>
            <button mat-raised-button color="primary" (click)="testHttpError()" type="button">
                <mat-icon>error</mat-icon> Test HTTP Error
            </button>

        </div>
    </div>
</div>



