.event-card {
	/* border: 1px dashed gray; */
	width: 450px;
	float: left; 
	margin-right: 2em;
	margin-bottom: 1em;
}

.stretch {
	width: 100% ! important;
}

.time-field {
	width: 4em;
	margin-left: 0.5em;
}

.dow-field {
	width: 8em;
}

/*
.mat-form-field-flex {
	height: 8em !important;
}
*/

button { margin-left: 0.5em; }

/* constant chip list height */
mat-chip {
  padding: 2px 9px !important;
	line-height: 1;
	font-size: 12px;
	margin: 0 ! important;
}

mat-chip-list {
	line-height: 25px !important;
}

.field-required {
	/* border: 1px solid red ! important; */
	color: red ! important;
}


/* grid layout */
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: normal;
  }